@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LayoutPersonalAccount.cshtml";
}

<hgroup class="title">
    <h1>Подтверждение пароля</h1>
</hgroup>
<div>
    <p>
        Пожалуйста, проверьте свою электронную почту, чтобы сбросить пароль.
    </p>
</div>
