
@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_LayoutPersonalAccount.cshtml";
}

<hgroup class="title">
    <h2>Подтверждение сброса пароля.</h2>
</hgroup>
<div>
    <p>
        Ваш пароль был сброшен. пожалуйста @Html.ActionLink("кликните здесь чтоб войти", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
