@using MusicBox.Areas.Admin.Models.Tracks
@using NonFactors.Mvc.Grid;

@model IEnumerable<GetTracksViewModel>

<script src="~/Scripts/jquery-3.5.1.min.js"></script>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create", "Create")
</p>


@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add().RenderedAs((model, row) => row + 1).Titled("#").Sortable(false);

        columns.Add(model => model.Title).Titled("Name");
        columns.Add(model => model.Artist).Titled("Artist name").Sortable(true);
        columns.Add(model => model.Album).Titled("Album").Sortable(true);
        columns.Add(model => model.Mood).Titled("Mood").Sortable(true);
        columns.Add(model => model.Genre).Titled("Genre").Sortable(true);
        columns.Add(model => model.DurationSong).Titled("Duration song").Sortable(true);
        columns.Add(model => model.DateOfCreation.ToString("d")).Titled("Date of creation").Sortable(true);
        columns.Add(model => model.CountOfCalls).Titled("Count of calls").Sortable(true);

        columns.Add(model => Html.ActionLink("Details", "Details", new { id = model.Id }) + " | " +
        Html.ActionLink("Edit", "Edit", new { id = model.Id }) + " | " +
        Html.ActionLink("Delete", "Delete", new { id = model.Id })).Titled("Actions").Sortable(false).Encoded(false); ;
    })
    .Empty("No data found")
    .Filterable()
    .Sortable()
    .Pageable()
)


<script type="text/javascript">
    $(function () {
        $("#body-container").css("max-width", "1420px");
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/mvc-grid")
}