@using MusicBox.Areas.Admin.Models.Tracks
@using NonFactors.Mvc.Grid;

@model IEnumerable<GetTracksViewModel>

<script src="~/Scripts/jquery-3.5.1.min.js"></script>

@{
    ViewBag.Title = "Index";
}

<h2>Tracks</h2>

<p>
    @Html.ActionLink("Create track", "Create")
</p>


@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add().RenderedAs((model, row) => row + 1).Titled("#").Sortable(false);

        columns.Add(model => model.Title).Titled("Track title");
        columns.Add(model => model.Artist).Titled("Track artist").Sortable(true);
        columns.Add(model => model.Album).Titled("Track album").Sortable(true);
        columns.Add(model => model.Mood).Titled("Track mood").Sortable(true);
        columns.Add(model => model.Genre).Titled("Track genre").Sortable(true);
        columns.Add(model => model.DurationSong).Titled("Track duration").Sortable(true);
        columns.Add(model => model.DateOfCreation.ToString("d")).Titled("Track date of creation").Sortable(true);
        columns.Add(model => model.CountOfCalls).Titled("Track count").Sortable(true);

        columns.Add(model => Html.ActionLink("Details", "Details", new { id = model.Id }) + " | " +
        Html.ActionLink("Edit", "Edit", new { id = model.Id }) + " | " +
        Html.ActionLink("Delete", "Delete", new { id = model.Id })).Titled("Actions").Sortable(false).Encoded(false); ;
    })
    .Empty("No data found")
    .Filterable()
    .Sortable()
    .Pageable()
)

<script type="text/javascript">
    $(function () {
        $("#body-container").css("max-width", "1420px");
    });
</script>


@section Scripts {
    @Scripts.Render("~/bundles/mvc-grid")
}