
@using MusicBox.Models.Album

@model List<GetAlbumsForClientViewModel>

@{
    ViewBag.Title = "Albums";
}

<div class="row">

    @foreach (var album in Model)
    {
        Html.RenderPartial("DsplayAlbumPartial", album);
    }

</div>


@section tracks{
    <div id="userSection">

    </div>  
}